name: Release
on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check src/plugin.json content
        run: cat src/plugin.json
      - uses: grafana/plugin-actions/build-plugin@build-plugin/v1.0.2
        with:
            policy_token: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}
