name: Release
on:
  push:
    tags:
      - 'v*'
permissions:
  contents: write
  id-token: write
  attestations: write
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: grafana/plugin-actions/build-plugin@build-plugin/v1.0.2
        with:
          policy_token: ${{ secrets.GRAFANA_ACCESS_POLICY_TOKEN }}

      - name: List files (Debug)
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            **/*.zip
            **/*.md5
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "**/*.zip"
